extends ./layout/layout

block navbar
    include ./component/navbar

block content
    // Banner section
    include ./component/banner
    // Carousel
    include ./component/carousel
    // About
    include ./component/about
    // NEWS
    include ./component/news
    // BUY TICKET
    include ./component/ticket
    // FEEDBACK
    include ./component/feedback
    // Footer
    include ./component/footer
    // Chat
    include ./component/chat
