@import "./common/common";
@import "./common/mixin";

.carousel-item {
  .item {
    box-shadow: 5px 10px 20px rgba(0,0,0,.4);

    &:hover {
      .item-content {
        background-color: rgba(0,0,0,0.5);
      }
    }

    .item-content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h4 {
        position: relative;
      }
    }
  }
}

@import "./common/carousel";

#feedback {
  @include showInfo('feedback');
}