@import "./common/common";
@import "./common/font";

.navbar {
  background-color: rgba(0,0,0,.1);
  border-bottom: 1px solid rgba(255,255,255,.4);
  transition: 300ms ease;
  padding: 1rem 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  &:hover {
    background-color: rgba(0,0,0,.8);
    border-bottom: 1px solid rgba(0,0,0,.6);
  }
}

.my-header {
  height: -50%;
  background-color: rgba(0,0,0,.8);
  border-bottom: 1px solid rgba(0,0,0,.6);
  padding: 0;
}

.navbar-nav {
  font-family: $font-unica;

  .nav-item {
    a {
      position: relative;
      color: white;
      font-size: 1rem;
      font-weight: 500;
      line-height: 50px;
      letter-spacing: 1px;
      height: 80%;

      &::after {
        content: '';
        width: 0;
        height: 1px;
        background-color: white;
        margin: auto;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-bottom: 1px solid rgba(255,255,255,.6);
        transition: 200ms ease;
      }

      &:hover:not(.active)::after {
        width: 100%;
      }
    }
  }
}

.active {
  border-bottom: 1px solid rgba(255,255,255,1);
}