@import "font";

@mixin boxSlide($width, $height) {
  position: absolute;
  content: '';
  width: $width;
  height: $height;
  background-color: rgba(255,255,255,.4);
  transition: width .3s, height .3s, border .6s, background .6s;
}

@mixin setFont($family, $size, $weight) {
  font: {
    family: $family;
    size: $size;
    weight: $weight;
  }
}

@mixin backgroundImg($url, $size) {
  width: 100%;
  background-image: $url;
  background-size: $size;
  background-position: center center;
}

@mixin showInfo($content) {
  position: relative;
  &::before {
    content: $content;
    text: {
      transform: uppercase;
      align: center;
    }
    @include setFont($font-unica, 1.9rem, 500);
    width: 5.4em;
    height: 17%;
    position: absolute;
    top: 2%;
    left: 2%;
    background-color: white;
    text-shadow: 1px 2px 5px rgba(0,0,0,.3);
    transition: top 400ms ease;
  }

  &:hover::before {
    top: -17%;
  }
}