section#about(style='box-sizing: border-box;')
    .row.pl-sm-2.pr-sm-2.pl-2.pr-2.pb-sm-2.pb-2
        .col-sm-12.col-12.intro
            .about-us
                h1.text-center Welcome to Ocean World
                .row.pt-lg-5.pt-sm-3.pt-3(style='display: flex; align-items: center')
                    .col-md-6.col-sm-12.col-xs-12.wow.fadeInUp.info-intro(data-wow-delay='0.8s')
                        p.pt-md-5 Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.
                        p
                            | Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                        p
                            | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        p
                            | Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    .col-md-6.col-sm-12.col-12.wow.fadeInUp(data-wow-delay='0.4s')
                        .row
                            each val in [1, 2]
                                .col-lg-6.col-sm-12.col-12.mb-sm-5.mb-5.mb-lg-0
                                    .img-about
                                        img.img-fluid(src='./images/team-img'+val+'.jpg', alt='')
                                        .info-about-founder.text-center.pt-md-2
                                            div
                                                if val === 1
                                                    h4 Sandar Lynn
                                                    h5 CEO
                                                else
                                                    h4 Candy
                                                    h5 CTO