- var num = 1;

section#discovery
    .row.pt-sm-2.pt-2
        .col-md-12.pr-lg-2.pl-lg-2.pr-sm-2.pl-sm-2.pr-2.pl-2.pb-lg-2.pb-sm-2.pb-2.owl-carousel.owl-theme
              while num <= 6
                // ITEM 1
                .item.mr-sm-2.mr-2
                    .img-bg
                        img.img-fluid(src='./images/slide-'+(num++)+'.jpg', alt='')
                    .item-content.pt-sm-2.pl-sm-2.pt-xs-2.pt-xs-2
                        h3
                            i.far.fa-heart
                            | 750
                        h4 Clownfish
                    .subitem-top
                    .subitem-right
                    .subitem-bottom
                    .subitem-left
