#chat-onl
    #btn-chat-onl.btn.btn-info.contact-onl.w-100.text-capitalize
        i.fa.fa-envelope(aria-hidden='true')
        | &nbsp; contact us
    #message
        .info-chat
            .icon-chat.w-25.pl-md-2
                img.img-fluid(src='./images/counseling-icon.png', alt='')
            .title-chat.pl-md-3.pt-md-1.text-capitalize
                span Online counseling
                p Ready to support
            hr(style='border-top: none;')
            .chat-web
                p.w-100.text-center Do you have questions? Please chat with us!
        .chat-user.mw-100.pl-lg-2
            input(type='text', placeholder='Please import content')
            i.fa.fa-paperclip.pull-right(style='cursor: pointer', aria-hidden='true')
