footer
    .row.pt-sm-5.pb-sm-5.pt-5.pb-5
        .col-sm-4.col-4
            img.img-fluid(src='./images/logo.png', alt='')
        .col-sm-4.col-4
            p
                b Address:
                | &nbsp; 501 East Pratt Street  |  Baltimore, MD 21202
            p
                b Phone:
                | &nbsp; 028 7300 2010
        .col-sm-4.col-4
            p
                b Address:
                | &nbsp; 501 East Pratt Street  |  Baltimore, MD 21202
            p
                b Phone:
                | &nbsp; 028 7300 2010
