nav.navbar.navbar-expand-md.pl-5.pr-5
    .container
        a.navbar-brand(href='#home')
            img(src='./images/logo.png', alt='Logo')
        button.navbar-toggler.bg-default(type='button', data-toggle='collapse', data-target='#collapsibleNavbar', style='background-color: white')
            span.navbar-toggle-icon
                span.icon-bar
                span.icon-bar
                span.icon-bar
        #collapsibleNavbar.collapse.navbar-collapse
            ul.nav.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link.active(href='#home') HOME
                li.nav-item
                    a.nav-link(href='#discovery') DISCOVERY
                li.nav-item
                    a.nav-link(href='#about') ABOUT
                li.nav-item
                    a.nav-link(href='#news') NEWS
                li.nav-item
                    a.nav-link(href='#ticket') BUY TICKET
                li.nav-item.pb-2.pb-sm-0
                    a.nav-link(href='#feedback') FEEDBACK
